:root {
  --color-white: #fff;
  --color-dark: #2d2d2d;

  --color-bcg: #f8f9ff;

  --color-primary: #e3e5fa;
  --color-accent: #2d2d2d;
  --color-accent-variant: #006e5a;

  --toastify-color-dark: #0c092a;
}

// Transition with default value
@mixin Animation($properties...) {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
